body {
    background: midnightblue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Mandali';
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
 