<p style="color: white">This is the home of Quinn Patrick's indie games. Play them and have a good time. If you want to discuss these games, join the <a href = "https://discord.gg/MXpy8Zt" style="color: lime">official discord server.</a> I check it regularly, so there's a good chance I'll see your discussion!</p>

<a *ngFor="let game of games" routerLink={{game.linkUrl}} class="panel-link">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3"><img src ={{game.imageUrl}} class = "img-thumbnail" alt = {{game.title}} style="width:200px" style="height:150px"></div>
                <div class="col-sm-9"><h2><i>{{game.title}}<small>{{game.subtitle}}</small></i></h2>
                <p>{{game.description}}</p></div>
            </div>
        </div>
    </div>
</a>